/* Importing a Google Font */


/* Changing the main font and background colour */

body {
	font-family: Montserrat, sans-serif;
	background-color: #f1eff2;
}

/* Changing the background colour for the header */

header {
	background-color: #000060;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #f1eff2;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

h5{
	margin-top: 30px;
	font-family: montserrat, sans-serif;
	font-size: 30px;
}