/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Raleway, sans-serif;
	background-color: #fffcf8;
}


   /* or inline-flex */

/* Changing the background colour for the header */

header {
	background-color: #000060;

}


/* Changing the background color for the navigation bar */

.navbar {
	background-color: #f1eff2;
	height: 80px;
	display: flex;
	
}

.center{
	display: flex;
	justify-content: center;
}



/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

.nav_logo{
	width: 150px;
	margin-left: 10%;
}

.nav-text{
	font-family: montserrat, sans-serif;
	text-transform: unset;
	font-size: 16pt;
	font-weight: 500;
	margin-left: 40%;
}

.nav-margin{
	margin-left: 20%;
}

.container{
	width: 80%;
}

.video_container{
	position: relative;
	width: 100%;
}

.openingvideo{
	display: block;
	width: 100%;
}

.video_overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	font-family: greycliff cf, sans-serif;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
}

.title_1{
	margin-left: 10%;
	font-size: 80px;
	font-weight: 700;
}

.title_2{
	margin-left: 10%;
	font-size: 40px;
	font-weight: 400;
}

.button{
	display: block;
}

.read_more_button{
	margin-left: 10%;
	margin-top: 5%;
	background-color:rgba(0, 0, 0, 0) ;
	padding: 10px;
	font-family: lato, sans-serif;
	border-color: white;
	color: white;
}
.add_to_cart_button{
	background-color: rgba(0, 0, 0, 1);
	padding: 10px;
	font-family: lato, sans-serif;
	border: none;
	color: white;
}

h5{
	font-family: montserrat, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

p{
	font-family: lato, sans-serif;
}

.card-price{
	margin-top: 50px;
	margin-bottom: 0px;
}

.full-width{
	width: 100%;
}

.video_overlay1{
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	font-family: greycliff cf, sans-serif;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
}

.row{
	background-color: #0000;
}

.black{
	display: block;
	color: #fff;
	background-color: #616262;
	padding: 80px;
	align-items: center;
}

.white{
	display: block;
	box-shadow: black;
	background-color: white;

}

.story_image{
	width: 100%;
}
